services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "${DB_PORT}:${DB_PORT}"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./migrations:/docker-entrypoint-initdb.d
  bot:
    build: .
    environment:
      BOT_TOKEN: ${BOT_TOKEN}
      YANDEX_API_KEY: ${YANDEX_API_KEY}
      YANDEX_FOLDER_ID: ${YANDEX_FOLDER_ID}
      DB_HOST: db
      DB_NAME: ${DB_NAME}
      HOST: ${HOST}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_PORT: ${DB_PORT}
    depends_on:
      - db
volumes:
  pgdata:
  